@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #34D399;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



header{
  padding: 1rem;
  background-color: var(--primary-color);
}

header h1 {
    font-family: 'Montserrat', sans-serif;
  text-align: initial;
}

nav {
  text-align: right;
}

nav > a {
  padding: 0 0.5rem;
}



main {
  margin: 0 0 7rem;
}

main h1 {
  margin: 1rem;
}



.label {
  font-size: larger;
  color: var(--primary-color);
  width: 250px;
}

.label p {
  font-size: larger;
  margin: 0.5rem;
}

.text {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

.btn-check {
  background: var(--primary-color);
  border: none;

  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

.output {
  font-size: x-large;
  margin: 1rem;
}



footer {
  text-align: center;

}

footer p {
  font-size: large;
  text-align: center;
}

.footer-list {
  margin: 1rem;
}

a,
img,
li {
  display: inline;
  color: #fff;
}

img {
  width: 40px;
  padding: 1rem 0.2rem;
}

.quiz-main {
    margin: 2rem auto;
    width: 90%;
    text-align: center;
  }
  
  .question-container {
    width: 85%;
    margin: 1rem auto;
    font-size: larger;
    padding: 1rem 0;
  }
  
  .question-container p {
    margin: 1rem 0;
  }